@font-face {
  font-family: "iconfont"; /* Project id 2590073 */
  src: url('//at.alicdn.com/t/font_2590073_9ovgtl2xd1v.woff2?t=1623216422593') format('woff2'),
  url('//at.alicdn.com/t/font_2590073_9ovgtl2xd1v.woff?t=1623216422593') format('woff'),
  url('//at.alicdn.com/t/font_2590073_9ovgtl2xd1v.ttf?t=1623216422593') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bofangshu:before {
  content: "\e665";
}

.icon-dashujukeshihuaico-:before {
  content: "\e7fb";
}

.icon-bofang1:before {
  content: "\e611";
}

.icon-xuanze:before {
  content: "\e619";
}

.icon-arrow-left:before {
  content: "\e60e";
}

.icon-wenhao-:before {
  content: "\e718";
}

.icon-shoucang:before {
  content: "\e632";
}

.icon-jia:before {
  content: "\e715";
}

.icon-pinglun:before {
  content: "\e618";
}

.icon-hanhan-01-01:before {
  content: "\e682";
}

.icon-dianzan:before {
  content: "\e697";
}

.icon-tianjia:before {
  content: "\e616";
}

.icon-shangla:before {
  content: "\e62a";
}

.icon-bofangqi-bofang:before {
  content: "\e6a4";
}

.icon-shuaxin:before {
  content: "\e606";
}

.icon-ic_arrow_r:before {
  content: "\e601";
}

.icon-bofang:before {
  content: "\e710";
}

.icon-play:before {
  content: "\e664";
}

.icon-sousuo:before {
  content: "\e61d";
}

.icon-ziyuan:before {
  content: "\e623";
}

.icon-daohang:before {
  content: "\e634";
}
